
[bootstrap]
{{ metadata_json_data.infraID }}-bootstrap ansible_connection=local ansible_user=core

[masters]
{% for m in range(ocp_master_count) %}
{{ metadata_json_data.infraID }}-master{{ m }} ansible_connection=local ansible_user=core
{% endfor %}

{% if create_workers | d(false) | bool %}
[workers]
{% for w in range(ocp_worker_count) %}
{{ metadata_json_data.infraID }}-worker{{ w }} ansible_connection=local ansible_user=core
{% endfor %}
{% endif %}
