{% if groups[instance_group] | d([]) | length > 0 %}
{% for grp in instance_role_groups %}
{% if groups[grp] | d([]) | length > 0 %}
[new{{grp}}]
{% for host in groups[instance_group] %}
{% if not host in vm_skip_list %}
{% if host.split('-')[1] | regex_replace('\\d','') in grp %}
{{ host }} ansible_host={{ hostvars[host]['ansible_host'] }} ansible_connection=ssh ansible_user={{ hostvars[host]['vm_user'] }} ansible_sudo_pass={{ hostvars[host]['vm_rootpw'] }} ansible_become_pass={{ hostvars[host]['vm_rootpw'] }} ansible_become_pass={{ hostvars[host]['vm_rootpw'] }} additional_disks={{ hostvars[host]['additional_disks'] | d ([]) }}

{% endif %}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
