{
  "ignition": {
    "config": {% raw %}{{% endraw %}{% if hostvars[host]['ignition_file_suffix'] is defined and not hostvars[host]['ignition_file_suffix'] == '' %}

      "append": [
        {
          "source": "{{ ignition_file_hosting_url }}/{{ ign_repos_name }}/{{hostvars[host]['ignition_file_suffix']}}",
          "verification": {}
        }
      ]
    {% endif %}},
    "security": {
      "tls": {}
    },
    "timeouts": {},
    "version": "2.2.0"
  },
  "networkd": {},
  "passwd": {% raw %}{{% endraw %}{% if hostvars[host]['sshkeys_pub_string'] | d(authorized_ssh_key) is defined and not hostvars[host]['sshkeys_pub_string'] | d(authorized_ssh_key) == '' %}

    "users": [
      {
        "name": "core",
         "sshAuthorizedKeys": [
          "{{hostvars[host]['sshkeys_pub_string'] | d(authorized_ssh_key)}}"
        ]
      }
    ]
  {% endif %}},
  "storage": {% raw %}{{% endraw %}{% if ocp_cluster_basedomain is defined and not ocp_cluster_basedomain == '' %} 
     
    "files": [
      {
        "filesystem": "root",
        "path": "/etc/hostname",
        "mode": 420,
        "contents": { "source": "data:,{{host + '.' + ocp_cluster_basedomain}}" }
      }
    ]
  {% endif %}},
  "systemd": {}
}
