{% for instance in groups['instances'] %}
{% if not instance in vm_skip_list %}
module "{{ instance }}_vms" {
  source                = "../modules/vm-search"
  vm_name               = var.{{ instance }}_vm_name
  vm_list_name          = var.{{ instance }}_vm_list_name 
}
output "{{ instance }}_created_vms" {
  value         = module.{{ instance }}_vms.created_vms
}
output "{{ instance }}_reported_devices" {
  value         = module.{{ instance }}_vms.reported_devices
}
output "{{ instance }}_created_vm_id" {
  value         = module.{{ instance }}_vms.created_vm_id
}

{% endif %}
{% endfor %}
