variable "ovirt_url" { default =  "" }
variable "ovirt_username" { default =  "" }
variable "ovirt_password" { default =  "" }
variable "storage_domain_id" { default =  "" }
variable "cluster_id" { default =  "" }
variable "create_template" { 
  type = bool 
  default = "false"
}
variable "{{ template_type }}_template_name" { default = ""}
variable "{{ template_type }}_image_url" { default = ""}
variable "disk_format" { default =  "cow" }
variable "sparse" { default =  "true" }
variable "shareable" { default =  "false" }
